Completion:
    AllScopes: true
Index:
    Background: Build
    StandardLibrary: Yes
InlayHints:
    Designators: True
    Enabled: True
    ParameterNames: True
    DeducedTypes: True
Hover:
    ShowAKA: True
---
If:
    PathMatch: [.*\.hpp, .*\.cpp]
CompileFlags:
    Remove: [-std=*,
             -W*,
             -f*,
             -g*,
             -mtune=*,
             -march=*,
             -D_GNU_SOURCE,
             -D_LIBCPP_HARDENING*]
    Add: [-std=c++26,
          -Wall,
          -freflection-latest]

